<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>목록</title>
</head>
<body>
   <table>
      <tr>
         <th>#</th>
         <th>제목</th>
         <th>작성자</th>
      </tr>
      <tr th:each="board: ${boardList}" th:object="${board}">
         <td th:text="*{id}">0</td>
         <td><a th:href="@{|/board/*{id}|}" th:text="*{title}">title</a></td>
         <td th:text="*{post.author}">author</td>
      </tr>
   </table>
   <div th:each="${totalPage}"><span th:text="${i}"></span></div>
</body>
</html>