<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>목록</title>
</head>
<body>
   <table>
      <tr>
         <th>#</th>
         <th>작성자</th>
         <th>제목</th>
         <th>작성일</th>
      </tr>
      <tr th:each="board: ${boardList}" th:object="${board}">
         <td th:text="*{id}">0</td>
         <td><a th:href="@{|/board/*{id}|}" th:text="*{title}">title</a></td>
         <td th:text="*{post.author}">author</td>
         
      </tr>
   </table>
   <div>
      <span>
         <a th:if="${currentPage > 1}"
            th:href="@{/board/list/{pageNumber}(pageNumber=${currentPage} - 1)}">◀</a>
      </span>
      <span th:each="i : ${#numbers.sequence(startPage, lastPage)}">
         <a th:text="${i}"
            th:if="${#strings.isEmpty(param.search)}"
            th:href="@{/board/list/{pageNumber}(pageNumber=${i})}">0</a>

         <a th:text="${i}"
            th:unless="${#strings.isEmpty(param.search)}"
            th:href="@{/board/list/{pageNumber}(pageNumber=${i}, search=${param.search})}">0</a>
      </span>
      <span>
         <a th:if="${lastPage < totalPage}"
            th:href="@{/board/list/{pageNumber}(pageNumber=${currentPage} + 1)}">▶</a>
      </span>
   </div>
   
   <form th:action="@{/board/list}">
      <input type="text" th:name="search"/>
      <input type="submit" value="검색">
   </form>
</body>
</html>