<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Insert title here</title>
</head>
<body>
	<h1>Chapter 3</h1>
	<h3 th:text=${data}>시작화면</h3>
	
	<ul>
		<li>텍스트
			<ul>
				<li><a href="/basic/text-basic">텍스트 출력 기본</a></li>
				<li><a href="/basic/text-unescaped">텍스트 text, utext</a></li>
				<li><a href="/basic/text-inline">텍스트 inline</a></li>
			</ul>
		</li>
		
		<li>표준 표현식 구문
			<ul>
				<li><a href="/basic/variable">변수-Spring EL</a></li>
			</ul>
		</li>
	</ul>
</body>
</html>