<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" defer></script>
	<script src="js/execDaumPostcode.js" defer></script>
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous" defer></script>
	
	<title>회원가입</title>
</head>
<body>
	
	<form name="singupForm" id="singupForm" method="post" action="/singup">
	<fieldset class="container">
		<legend>회원가입</legend>
		
		<input type="text" name="id" id="id" placeholder="아이디" class="form-control"/>
		<input type="password" name="pwd" id="pwd" placeholder="비밀번호" class="form-control"/>
		
		<input type="text" name="name" id="name" placeholder="이름" class="form-control"/>
		<input type="text" name="birthday" id="birthday" placeholder="생년월일" class="form-control"/>
		
		<div id="gender">
			<input type="radio" name="gender" id="gender1" value="m" class="form-check-input"/>
			<label for="gender1" class="form-check-label">남자</label>
			<input type="radio" name="gender" id="gender2" value="f" class="form-check-input"/>
			<label for="gender2" class="form-check-label">여자</label>
			<input type="radio" name="gender" id="gender3" value="o" class="form-check-input"/>
			<label for="gender3" class="form-check-label">선택안함</label>
		</div>
		
		<input type="text" name="phoneNo" id="phoneNo" placeholder="전화번호" class="form-control"/>
		
		<div id="addr">
			<div class="input-group mb-3">
				<input type="text" name="postcode" id="sample6_postcode" placeholder="우편번호" class="form-control"/>
				<input onclick="sample6_execDaumPostcode()" value="우편번호 찾기" class="btn btn-outline-secondary"/>
			</div>
			<input type="text" name="address" id="sample6_address" placeholder="주소" class="form-control"/>
			<input type="text" name="detailAddress" id="sample6_detailAddress" placeholder="상세주소" class="form-control"/>
			<input type="text" name="extraAddress" id="sample6_extraAddress" placeholder="참고항목" class="form-control"/>
		</div>
		
		<input type="submit" id="submitBtn" value="회원가입" class="btn btn-success"/>
	</fieldset>
	</form>
</body>
</html>