<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<style>
.container {
	max-width: 560px;
}
.field-error {
   border-color: #dc3545;
   color: #dc3545;
}
</style>
</head>
<body>
	<div class="container">
		<div class="py-5 text-center">
			<h2>상품 등록 폼</h2>
		</div>
		<h4 class="mb-3">상품 입력</h4>
		<form action="items.html" th:action method="post" th:object="${item}">
			<!--/* 
				th:errors : 해당 필드에 오류가 발생한 경우 태그를 출력한다.
				th:errorclass="class name" : th:field에 에러 발생 시 class값을 추가한다.
			*/-->
			<div>
				<label for="name">상품명</label> 
				<input type="text" th:field="*{itemName}" 
				id="name" name="name" class="form-control" placeholder="이름을 입력하세요"
				th:errorclass="field-error">
				<div th:errors="*{itemName}" class="field-error">상품명 오류</div>
			</div>
			<div>
				<label for="price">가격</label> 
				<input type="text" th:field="*{price}" 
				id="price" name="price" class="form-control" placeholder="가격을 입력하세요" 
				th:errorclass="field-error">
				<div th:errors="*{price}" class="field-error">가격 오류</div>
			</div>
			<div>
				<label for="quantity">수량</label> 
				<input type="text" th:field="*{quantity}" 
				id="quantity" name="quantity" class="form-control" placeholder="수량을 입력하세요" 
				th:errorclass="field-error">
				<div th:errors="*{quantity}" class="field-error">수량 오류</div>
			</div>
			
			<hr class="my-4">
         <div>
				<!--/* 
					checkbox 활성화 후, 전송 시 open의 값은 'on'이 된다., 비활성화 시 전송 메시지에 open이 포함되지 않는다.
					'on'이라는 값은 boolean 타입이 아니지만, 스프링 컨버터에서 on이라는 값을 true로 변환해준다.
					
					hidden _opne의 'on'만 전송될 경우, false로 처리된다.
					언더바(_) 필드만 전송될 경우 checkbox가 체크 해제되었다고 인식할 수 있다.
				*/-->
				<div>판매 여부</div>
				<!--
            <input type="checkbox" id="open" name="open" class="form-check-input">
            <input type="hidden" name="_open" value="on"/>
            <label for="open" class="form-check-label">판매 오픈</label>
            -->
            <div class="form-check">
					<input type="checkbox" th:field="*{open}" id="open" name="open" class="form-check-input">
					<label for="open" class="form-check-label">판매 오픈</label>
				</div>
         </div>
         
         <!-- multi checkbox -->
         <div>
            <div>등록 지역</div>
            <div th:each="region : ${regions}" class="form-check form-check-inline">
               <input type="checkbox" class="form-check-input"
               	th:field="*{regions}" 
               	th:value="${region.key}"/>
               <label class="form-check-label"
               	th:for="${#ids.prev('regions')}" 
               	th:text="${region.value}">서울</label>
            </div>
         </div>
         
         <!-- radio button-->
         <div>
            <div>상품 종류</div>
            <div th:each="itemType :${itemTypes}" class="form-check form-check-inline">
               <input type="radio" class="form-check-input"
               	th:field="*{itemType}"
               	th:value="${itemType.name()}">
               <label class="form-check-label"
               	th:for="${#ids.prev('itemType')}"
               	th:text="${itemType.description}"></label>
            </div>
         </div>
         
         <!-- delivery radio button-->
         <div>
            <div>배송 방식</div>
            <select th:field="*{deliveryCode}" class="form-select">
               <option value="">==배송 방식 선택==</option><!-- 아무것도 선택 안할때 -->
               <option th:each="deliveryCode : ${deliveryCodes}" 
                  th:value="${deliveryCode.code}" th:text="${deliveryCode.displayName}">
                  FAST
               </option>
            </select>
         </div>
         
			<hr class="my-4">
			
			<div class="row">
				<div class="col">
					<button class="w-100 btn btn-primary btn-lg" type="submit">
						상품등록
					</button>
				</div>
				<div class="col">
					<button class="w-100 btn btn-secondary btn-lg" onclick="location.href='/basic/items'" type="button">
						취소
					</button>
				</div>
			</div>
		</form>
	</div>
	<!-- /container -->
</body>
</html>