<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome</title>
</head>
<body>
	<h1>타임리프</h1>
	<ol>
		<li>
			<a href="basic/object">기본 객체</a>
		</li>
		<li>
			<a href="basic/date_now">날짜</a>
		</li>
		<li>
			<a href="basic/link">링크 URL</a>
		</li>
	</ol>
	<ol>
		<li>
			<a href="basic/literal">리터럴</a>
		</li>
		<li>
			<a href="basic/operation">연산</a>
		</li>
		<li>
			<a href="basic/attribute">속성 값 설정</a>
		</li>
	</ol>
	<ol>
		<li>
			<a href="basic/foreach">반복문</a>
		</li>
		<li>
			<a href="basic/condition">조건문</a>
		</li>
	</ol>
	<ol>
		<li>
			<a href="basic/comments">주석</a>
		</li>
		<li>
			<a href="basic/block">블록</a>
		</li>
		<li>
			<a href="basic/js">Inline Javascript</a>
		</li>
	</ol>
	
	<ol>
		<li>
			<a href="/template/fragment">탬플릿 레이아웃</a>
		</li>
	</ol>
</body>
</html>