<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link th:href="@{/css/bootstrap.min.css}"
		href="css/bootstrap.min.css" rel="stylesheet">
	<title>Home Page</title>
</head>
<body>
	<div class="container" style="max-width: 600px">
		<div class="py-5 text-center">
			<h2>홈 화면</h2>
		</div>
		<div class="row">
			<div class="col">
				<button class="w-100 btn btn-secondary btn-lg" type="button"
					th:onclick="|location.href='@{/join}'|"
					sec:authorize="isAnonymous()">
					회원 가입
				</button>
				<h3
					sec:authentication="name"
					sec:authorize="isAuthenticated()"></h3>
					<div sec:authorize="hasRole('USER')">USER 권한이 있습니다.</div>
			</div>
			<div class="col">
				<button class="w-100 btn btn-dark btn-lg"
					onclick="location.href='items.html'"
					th:onclick="|location.href='@{/login}'|" type="button"
					sec:authorize="isAnonymous()">
					로그인
				</button>
				<button class="w-100 btn btn-dark btn-lg"
					onclick="location.href='items.html'"
					th:onclick="|location.href='@{/logout}'|" type="button"
					sec:authorize="isAuthenticated()">
					로그아웃
				</button>
			</div>
		</div>
		<hr class="my-4">

	</div>
	<!-- /container -->
	<script>
		const message = '[[${param.message}]]';
		if(message.length > 0){
			alert(message);
		}
	</script>
</body>
</html>